<div class="card" *ngIf="pokemon">
  <h2>{{pokemon.name}}</h2>
  <div class="col-sm-9">
    <table class="table-hover table" *ngIf="pokemon.stats">
        <thead>
          <tr>
            <th rowspan="2">name</th>
            <th rowspan="2">value</th>
            <th [colSpan]="pokemon.types.length">types</th>
          </tr>
          <tr>
            <th *ngFor="let t of pokemon.types; let i = index">{{types[i] ? types[i].name : 'Loading...' }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of ['hp', 'speed', 'attack', 'defense', 'special-attack', 'special-defense']">
            <th scope="row">{{s}}</th>
            <td>{{pokemon.stats[s]}}</td>
            <template ngFor [ngForOf]="pokemon.types" let-i="index">
              <template [ngIf]="types[i]">
                <td [class.success]="pokemon.stats[s] > types[i].stats[s]" [class.danger]="pokemon.stats[s] < types[i].stats[s]">{{types[i].stats[s]}}</td>
              </template>
              <template [ngIf]="!types[i]">
                <td><img src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default-dark/throbber.gif"></td>
              </template>
            </template>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail" *ngFor="let image of pokemon.images">
      <img src="{{image}}">
    </div>
  </div>
  <pz-tweets class="col-sm-12" [term]="pokemon.name"></pz-tweets>
</div>
<div class="card" *ngIf="!pokemon">
  Loading...
</div>
