<div class="card" *ngIf="pokemon">
  <h2>{{pokemon.name}}</h2>
  <div class="col-sm-9">
    <table class="table-hover table" *ngIf="pokemon.stats">
        <thead>
          <tr>
            <th rowspan="2">name</th>
            <th rowspan="2">value</th>
            <th *ngIf="types?.length > 0" [colSpan]="types ? types.length : 0">types</th>
          </tr>
          <tr>
            <th *ngFor="let type of types">{{type.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of ['hp', 'speed', 'attack', 'defense', 'special-attack', 'special-defense']">
            <th scope="row">{{s}}</th>
            <td>{{pokemon.stats[s]}}</td>
            <td *ngFor="let type of types" [class.success]="pokemon.stats[s] > type.stats[s]" [class.danger]="pokemon.stats[s] < type.stats[s]">{{type.stats[s]}}</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <img src="{{pokemon.images[0]}}">
  </div>
  <pz-tweets class="col-sm-12" [term]="pokemon.name"></pz-tweets>
</div>
<div class="card" *ngIf="!pokemon">
  Loading...
</div>
