<div class="card" *ngIf="pokemon">
  <h2>{{pokemon.name}}</h2>
  <div class="col-sm-9">
    <table class="table-hover table" *ngIf="pokemon.stats">
        <thead>
          <tr>
            <th>name</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">hp</th>
            <td>{{pokemon.stats.hp}}</td>
          </tr>
          <tr>
            <th scope="row">speed</th>
            <td>{{pokemon.stats.speed}}</td>
          </tr>
          <tr>
            <th scope="row">attack</th>
            <td>{{pokemon.stats.attack}}</td>
          </tr>
          <tr>
            <th scope="row">defense</th>
            <td>{{pokemon.stats.defense}}</td>
          </tr>
          <tr>
            <th scope="row">special-attack</th>
            <td>{{pokemon.stats['special-attack']}}</td>
          </tr>
          <tr>
            <th scope="row">special-defense</th>
            <td>{{pokemon.stats['special-defense']}}</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <img src="{{pokemon.images[0]}}">
  </div>
</div>
<div class="card" *ngIf="!pokemon">
  Loading...
</div>
