<a *ngIf="pokemon" [routerLink]="'/pokemon/' + pokemon.name">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{pokemon.name}}</h3>
    </div>
    <div class="panel-body thumbnail">
      <img src="{{pokemon.images[0]}}" alt="{{pokemon.name}}" *ngIf="pokemon.name.indexOf('-') > -1">
      <img src="http://www.pokestadium.com/sprites/xy/{{pokemon.name}}.gif" alt="{{pokemon.name}}" *ngIf="pokemon.name.indexOf('-') <= -1">
    </div>
  </div>
</a>
<div class="panel panel-default" *ngIf="!pokemon">
  <div class="panel-heading">
    <h3 class="panel-title">Loading...</h3>
  </div>
  <div class="panel-body thumbnail">
    <img src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.2/themes/default-dark/throbber.gif" alt="Loading...">
  </div>
</div>
